    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
            <div class=" navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto"style="padding-top:15px;padding-bottom:15px">
                    <div href="" class="nav-item">
                        <h3 class="m-0 text-primary">Orange Bon Checker</h3>
                    </div>

                </div>
                {% if request.user.id%}
                <div class=" ml-auto" style="">
                    <span class="  text-capitalize" style="padding-right:10px">Bienvenu {{request.user}}</span>
                    <a href="{% url 'logout' %}" class=" text-capitalize">Se déconnecter</a>
                </div>
                {% endif %}
            </div>
        </nav>
    </div>
    <!-- Navbar End -->